@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// @import "vars";
// @import "reset";
// @import "global";
// @import "page-structure";
// @import "expertise";
// @import "leadership";

// /* Base */
// @import "./base/reset";

// @import "./base/base";
// @import "./base/utils";
// @import "./base/containers";
// @import "./base/sticky-footer";

/* Blocks */
@import "./blocks/vars";
@import "./blocks/*.scss";

// header

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  &__title {
    padding-top: 60px;
  }
}

.menu {
  display: flex;
  gap: 30px;
}

.data {
  display: flex;
  flex-direction: column;
}

//  about


.about-video {
  margin: 100px 0;
  position: relative;
  &__img {
    width: 1037px;
    height: 512px;
  }

  &__text {
    bottom: 32px;
    position: absolute;
  }

  &__link {
    position: absolute;
    right: 90px;
    top: 112px;
    padding: 100px 50px;
  }
}

.about-work {
  display: flex;
  justify-content: space-between;

  &__text {
    max-width: 556px;
    font-size: 50px;
    line-height: 100%;
  }

  &__info {
    position: relative;
  }

  &__link {
    position: absolute;
    right: 40px;
    bottom: 88px;
    color: #1b1b1b;
    background-color: #f1ede8;
    padding: 100px 50px;
  }
}

// select-work

.select-work {
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 120px;
  }

  &__item {
    display: flex;
    position: relative;
  }

  &__item:last-child {
    flex-direction: column;
  }

  &__item-subtitle {
    font-size: 50px;
    line-height: 100%;
    font-weight: 400;
  }

  &__item-subtitle--first {
    margin: 0 0 0 36px;
  }

  &__item-subtitle--second {
    margin: 200px 200px 0 200px;
  }

  &__item-subtitle--third {
    margin-top: 51px;
  }

  &__item-subtitle-small {
    display: block;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    margin-top: 20px;
  }

  &__item-link--first {
    position: absolute;
    right: 380px;
    bottom: -19px;
  }

  &__item-link--second {
    position: absolute;
    bottom: 120px;
    left: 290px;
  }

  &__item-link--third {
    position: absolute;
    bottom: 70px;
    right: 180px;
  }

  &__item--right {
    align-self: flex-end;
  }

  &__wrapper {
    position: relative;
  }

  &__wrapper-text {
    position: absolute;
    top: 50%;
    left: 90px;
  }
}

/// us
.us {

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 140px;
  }

  &__item-text {
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
  }
}

.our-clients {
  padding: 300px 0;

  &__wrapper {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
  }

  &__link {
    background-color: #f1ede8;
    grid-column-end: end;
    color: #1b1b1b;
    padding: 100px 50px;
  }

  &__text {
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 740px;
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
  }
}

// slogans

.slogans {

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__top {
    margin-left: auto;
  }

  &__top-title {
    display: block;
    max-width: 577px;
    position: relative;



    &::before {
      content: "We work with";
      position: absolute;
      font-weight: 400;
      font-size: 80px;
      line-height: 73%;
      transform: rotate(-90deg);
      left: -320px;
      top: 250px;
    }
  }

  &__bottom {
    margin-right: auto;
  }

  &__bottom-title {
    max-width: 440px;
    font-weight: 800;
    font-size: 80px;
    line-height: 100%;
  }
}

// spots

.spots {
  padding: 100px 0;

  &__round {
    margin: 0 auto;
    height: 300px;
    width: 300px;
    border-left: 4px solid #f1ede8;
    border-right: 4px solid rgb(241, 237, 232, 0.2);
    border-top: 4px solid #f1ede8;
    border-bottom: 4px solid rgb(241, 237, 232, 0.2);
    border-radius: 50%;
    position: relative;
    text-align: center;

    &::after {
      content: "";
      position: absolute;
      width: 19px;
      height: 19px;
      background-color: #f1ede8;
      top: 35px;
      right: 28px;
      border-radius: 50%;
    }
  }

  &__round-num {
    display: block;
    margin: 50px 0 30px;
    font-weight: 800;
    font-size: 80px;
    line-height: 100%;
  }

  &__round-text {
    font-weight: 400;
    font-size: 25px;
  }

  &__wrapper {
    display: flex;
    margin-bottom: 200px;
  }

  &__link {
    margin-right: 120px;
    color: #1b1b1b;
    background-color: #f1ede8;
  }

  &__text {
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
  }

  &__subtitle {
    text-align: center;
    font-weight: 400;
    font-size: 80px;
    line-height: 73%;
    letter-spacing: -1.5px;
  }
}

// contact us

.contact-us {
  padding: 250px 0;

  &__title {
    margin: 0 auto;
    position: relative;
    width: fit-content;
    font-weight: 800;
    font-size: 100px;
    line-height: 73%;
    letter-spacing: -4px;
    padding: 0 120px 30px 0;
    border-bottom: 3px solid #f1ede8;

    &::after {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-image: url("../images/arrow.svg");
      height: 65px;
      width: 65px;
      right: 0;
      bottom: 5px;
    }
  }
}

// naming

.naming {
  padding: 100px 0 300px;
  &__title {
    max-width: 929px;
    text-align: start;
  }
}

//footer

.footer {
  font-weight: 800;
  font-size: 30px;
  line-height: 73%;
  letter-spacing: -1.5px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__contacts {
    display: flex;
    gap: 20px;
  }
}

// select - work page

.projects {
  padding: 77px 0 250px;
  border-bottom: 1px solid #f1ede8;

  &-container {
    padding: 0 15px;
    max-width: 1268px;
  }

  &__title {
    display: block;
    text-align: center;
  }

  &__list {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-image: url("../images/select-work/select-work3.jpg");
      background-size: cover;
      height: 400px;
      width: 600px;
      right: 0;
      top: 0;
    }
  }
  &__item {
    z-index: 7;
    border-bottom: 1px solid #f1ede8;
    transition: color 0.4s, background-color 0.4s, ease-in-out;

    &:hover {
      color: #1b1b1b;
      background-color: #f1ede8;
    }
  }

  &__link {
    z-index: 8;
    font-weight: 400;
    font-size: 60px;
    line-height: 73%;
    letter-spacing: -4px;
    padding: 12px 0;
    display: block;
    margin: 0 auto;
    max-width: 1230px;
    background-color: transparent;
    transition: color 0.4s, background-color 0.4s, ease-in-out;

    &:hover {
      color: #1b1b1b;
      background-color: #f1ede8;
    }
  }

  &__data {
    z-index: 8;
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -1.5px;
    margin-right: 16px;
  }
}

// past-work

.past-work {
  padding: 100px 0;
  border-bottom: 1px solid #f1ede8;

  &__title {
    margin-left: auto;
    max-width: 487px;
    font-weight: 800;
    font-size: 80px;
    line-height: 73%;
    letter-spacing: -4px;
    margin-bottom: 100px;
  }

  &__list {
    max-width: 487px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__link {
    font-weight: 400;
    font-size: 30px;
    line-height: 73%;
    letter-spacing: -1.5px;
    text-decoration-line: underline;
  }
}

// trci

.trci {
  padding: 100px 0 300px;

  &__info-title {
    text-align: center;
    font-weight: 800;
    font-size: 200px;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 88px;
  }

  &__info-text {
    margin-left: auto;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: -1.5px;
    max-width: 660px;
  }
}

.trci-website {
  padding-bottom: 170px;

  &__img {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 18px;
  }

  &__img-text {
    z-index: 8;
    position: absolute;
    bottom: -90px;
  right: 450px;
  }
  &__text {
    padding-top: 80px;
    margin-left: auto;
    max-width: 846px;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: -1.5px;
  }
}

// we-worked
/*
.we-worked {
  &__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 100px;
  }

  &__title {
    max-width: 630px;
    font-weight: 800;
    font-size: 200px;
    line-height: 73%;
    letter-spacing: -4px;
  }

  &__link {
    color: #1b1b1b;
    background-color: #f1ede8;
  }

  &__item {
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: -1.5px;
    margin-bottom: 20px;
  }
}*/

// structure

.structure {
  padding: 100px 0;

  &__table {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-end;
    margin-left: auto;
    margin-bottom: 120px;
  }

  &__table-text {
    display: block;
    align-self: center;
    margin-top: 20px;
  }

  &__info {
    margin-left: auto;
  }

  &__text {
    max-width: 1102px;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    margin-bottom: 46px;
  }

  &__link {
    padding: 12px 80px;
    border: 1px solid #f1ede8;
    border-radius: 100px;
  }
}

//video-of-about
.video-of-about {
  padding-bottom: 176px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__link {
    position: absolute;
    bottom: 57px;
    right: 15%;
  }

  &__text {
    top: 137px;
    max-width: 669px;
    right: 280px;
    position: absolute;
  }
}

// final
.final {
  height: 100vh;
  width: 100%;
  border-top: 1px solid #f1ede8;
  border-bottom: 1px solid #f1ede8;
}

// our-solution

.our-solution {
  padding-bottom: 125px;
  &__title {
    max-width: 765px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(1, 311px, 641px);
    gap: 100px;
  }

  &__item--competition {
    grid-row-end: 1;
    max-width: 311px;
  }

  &__item--target {
    grid-row-end: 2;
    max-width: 641px;
    margin: 0 auto;
  }

  &__item--identity {
    grid-row-end: 3;
    max-width: 459px;
    margin: 0 auto;
  }

  &__item--design {
    grid-row-end: 5;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
  }

  &__text--design {
    max-width: 381px;
  }

  &__link {
    margin-left: 150px;
  }

  &__text {
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: -1.5px;
  }
}

// video-of-animated

.video-of-animated {
  padding: 140px 0;
  border-bottom: 1px solid #f1ede8;
  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    justify-content: space-evenly;
    gap: 80px;
    position: relative;
  }

  &__link{
    position: absolute;
    top: -70px;
    right: 25%;
  }

  &__text {
    top: 48%;
    right: 27px;
    position: absolute;
  }

  &__poster {
    display: block;
    margin: -150px auto 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 550px;
    height: 472px;
    background-color: #f1ede8;
  }

  &__poster-text {
    display: block;
    margin: 0 120px;
  }
}

// Policy
// Terms & Conditions
//
//

.policy{


  &__bold-text{
    font-weight: 700;
font-size: 25px;
line-height: 100%;
  }

  &__list{
  padding-left: 60px;
    list-style-type: disc;
  }

  &__below-item{
    margin-bottom: 20px;
  }
}
